<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site GeoProcessamento</title>
    {% load static %}
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'mapa/styles.css' %}">
    {% block styles %}{% endblock %}
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Início</a></li>
                <li><a href="{% url 'mapa' %}">Mapa</a></li>
                <li><a href="{% url 'galeria' %}">Galeria</a></li>
                <li><a href="{% url 'contato' %}">Contato</a></li>
                <li><a href="{% url 'servicos' %}">Serviços</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block conteudo %}{% endblock %}
    </main>
    <footer>
        &copy; 2024 GeoProcessamento
    </footer>
</body>
</html>
