{% extends 'base.html' %}
{% block conteudo %}
<section class="galeria">
    <h1>Galeria de Imagens</h1>
    <div class="image-grid">
        {% for imagem in imagens %}
            {% if imagem.photo %}
                <div class="image-card">
                    <a href="{{ imagem.photo.url }}" target="_blank">
                        <img src="{{ imagem.photo.url }}" alt="Imagem">
                    </a>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</section>
{% endblock %}
