{% extends 'base.html' %}
{% block conteudo %}
<section class="home">
    <h1>Bem-vindo ao Site de Geoprocessamento</h1>
    <p>Explore nossos mapas e imagens.</p>
    <div class="image-grid">
        {% for imagem in imagens %}
            <div class="image-card">
                {% if imagem.photo %}
                    <img src="{{ imagem.photo.url }}" alt="{{ imagem.photo.name }}">
                    <h2>{{ imagem.photo.name|default:"Sem título" }}</h2>
                {% else %}
                    <p>Imagem indisponível</p>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</section>
{% endblock %}
